.full {
    border-style: ridge;
    border-width: 5px;
    border-radius: 15px;
    width: 700px;
    height: 900px;
    margin: 0 auto;

}

.top {
    position: absolute;
    text-align: center;
    margin: auto, 0;
    z-index: -1;
}

#searchbar {
    position: absolute;
    margin-left: 350px;
    margin-top: 30px;
}

#searchbar input {
    border-radius: 5px;
    border-style: ridge;
    border-width: 2px;
}

#searchbar button {
    border-radius: 5px;
    border-style: ridge;
    border-width: 2px;
}

#mag {
    position: relative;
    text-align: left;
    top: 70px;
    left: 25px;
    
    color: #48666e;
}

#image {
    position: relative;
    left: 25px;
    top: 70px;
    border-radius: 5px;
}

#date {
    position: relative;
    left: 230px;
    top: -160px;
    color: #48666e;
}

hr {
    position: relative;
    width: 200px;
    top: -165px;
    left: -20px;
}

#magtitle {
    position: relative;
    font-size: 30px;
    left: 230px;
    top: -180px;
    width: 400px;
}

#subhead {
    position: relative;
    top: -190px;
    left: 230px;
    width: 350px;
}

#author {
    position: relative;
    top: -188px;
    left: 230px;
}

#blurredtext {
    position: relative;
    margin-left: 50px;
    margin-top: -160px;
}

.login {
    text-align: center;
    position: absolute;
    top: 500px;
    left: 550px;
    background-color: white;
    border-style: ridge;
    border-width: 5px;
    border-radius: 15px;
    width: 400px;
    height: 170px;
    padding-top: 30px;
}

#view {
    position: relative;
    font-size: 20px;
}

